
.slider__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 320px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.slider__item img{
    width: 200px;
    height: auto;
    display: block;
    border-radius: 50%;
    transition: all 0.5s;
}

.slider__item h2{
    font-size: 15px;
    width: 200px;
    text-align: center;
    transition: font-size 0.2s;
    padding-top: 10px;
}

.slider__item a{
    display: flex;
    height: 50px;
    width: 50px;
    background: var(--main-blue);
    color: #fff;
    border-radius: 50%;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 40%;
}

.rec.rec-dot_active{
    background-color: var(--main-blue);
    box-shadow: 0 0 1px 3px var(--main-blue);
}

.about__content > h2{
    font-size: 1.5rem;
}
