.slider__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.slider__item img{
    width: 150px;
    height: auto;
    display: block;
    border-radius: 50%;
    transition: all 0.5s;
}

.slider__item h2{
    font-size: 14px;
    width: 150px;
    text-align: center;
    transition: font-size 0.2s;
}
