
.actus__item{
    width: 320px;
    max-height: 450px;
    margin: 10px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px 1px rgba(111, 111, 111, 0.50);
}

.actus__img{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.actus__img img{
    width: 100%;
}

.actus__body{
    padding: 10px;
}
.actus__description{
    height: 70px;
    overflow: hidden;
    margin-bottom: 0;
}

.actus__title{
    font-size: 1.3rem;
}

.actus__footer{
    padding: 15px 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--main-blue);
}

.actus__footer a:hover{
    color: initial;
}

@media all and (max-width: 500px) {
    .actus__item{
        max-height: 390px
    }

    .actus__img{
        width: 100%;
        height: 170px;
        overflow: hidden;
    }
}