.home{
    padding: 4rem 0 0;
}

.cdi__img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 300px;
    z-index: -1;
}

.join{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.join__text{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
}

.join__button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-green);
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border-radius: 30px;
    text-transform: uppercase;
    border: 2px solid var(--main-green);
    transition: all 0.3s ease-in-out;
    width: 300px;
}

.join__button:hover, .join__button:active, .join__button:focus{
    background: #fff;
    color: var(--main-green);
}

.container-fluid, .row{
    height: 100%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1{
    font-size: 1.6rem!important;
}

.title-container .logo{
    position: absolute;
    right: -30px;
    top: 17%;
    width: 110px;
}

.title-container{
    background: var(--secondary-color);
    height: 450px;
    width: 450px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 45px;
    color: #000;
    position: relative;
}

.title__link{
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
}

.title__link span:nth-child(1){
    position: absolute;
    display: block;
    height: 120%;
    width: 120%;
    border: 2px solid;
    border-radius: 50%;
    animation: in-out1 0.5s alternate infinite;
}
.title__link span:nth-child(2){
    position: absolute;
    display: block;
    height: 140%;
    width: 140%;
    border: 1px solid;
    border-radius: 50%;
    animation: in-out2 0.5s alternate infinite;
}

.title__link__green{
    height: 60px;
    width: 60px;
    background: var(--main-green);
    bottom: -15%;
    left: 25%;
}

.title__link__green span{
    border-color: var(--main-green) !important;
}
.title__link__yellow span{
    border-color: var(--secondary-color) !important;
}
.title__link__blue span{
    border-color: var(--main-blue) !important;
}

.join{
    background: url("../banner_gabao.jpg");
    background-size: cover;
}

@keyframes in-out1 {
    from{
        height: 130%;
        width: 130%;
    }
    to {
        height: 110%;
        width: 110%;
    }
}
@keyframes in-out2 {
    from{
        height: 160%;
        width: 160%;
    }
    to {
        height: 125%;
        width: 125%;
    }
}

.title__link__blue{
    height: 60px;
    width: 60px;
    background: var(--main-blue);
    left: 5%;
    bottom: -5%;
}
.title__link__yellow{
    height: 70px;
    width: 70px;
    background: var(--secondary-color);
    top: -10%;
    left: 80%;
    color: #000;
}

@media all and (max-width: 600px) {
    .title{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .title-container{
        position: relative;
        left: -50px;
        height: 380px;
        width: 380px;
    }

    .title-container h1{
        font-size: 2rem;
    }

    .title-container p{
        font-size: 13px;
    }

    .join__button{
        width: 100%;
    }

    .cdi__img{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 250px;
        z-index: -1;
    }

    .title__link__blue{
        height: 50px;
        width: 50px;
        background: var(--main-blue);
        bottom: -70px;
        left: 200px;
        top: initial;
    }
    .title__link__green{
        bottom: -60px;
        left: 100px;
    }
    .title__link__yellow{
        top: initial;
        bottom: -10%;
        left: 80%;
    }
}

@media all and (max-width: 780px) {
    .join{
        background: none;
    }
    .join__text{
        color: #000;
        font-size: 15px;
    }
}