.home{
    padding: 4rem 0 0;
}

.cdi__img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 300px;
    z-index: -1;
}

.join{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.join__text{
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 25px;
}

.join__button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-green);
    color: #fff;
    font-weight: bold;
    padding: 8px;
    border-radius: 30px;
    text-transform: uppercase;
    border: 2px solid var(--main-green);
    transition: all 0.3s ease-in-out;
    width: 300px;
}

.join__button:hover, .join__button:active, .join__button:focus{
    background: #fff;
    color: var(--main-green);
}

.container-fluid, .row{
    height: 100%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container .logo{
    position: absolute;
    right: -10px;
    top: 20%;
    width: 100px;
}

.title-container{
    background: var(--secondary-color);
    height: 450px;
    width: 450px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 45px;
    color: #000;
    position: relative;
}

.title__link{
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
.title__link span{
    animation: in-out 0.5s alternate infinite;
}

.title__link span{
    position: absolute;
    display: block;
    height: 120%;
    width: 120%;
    border: 1px solid gray;
    border-radius: 50%;
}

.title__link__green{
    height: 75px;
    width: 75px;
    background: var(--main-green);
    bottom: -90px;
    left: 100px;
}

.join{
    background: url("../banner_gabao.jpg");
    background-size: cover;
}

@keyframes in-out {
    from{
        height: 120%;
        width: 120%;
    }
    to {
        height: 105%;
        width: 105%;
    }
}


.title__link__blue{
    height: 70px;
    width: 70px;
    background: var(--main-blue);
    top: -30px;
    left: 350px;
}

@media all and (max-width: 600px) {
    .title{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .title-container{
        position: relative;
        left: -50px;
        height: 380px;
        width: 380px;
    }

    .title-container h1{
        font-size: 2rem;
    }

    .title-container p{
        font-size: 13px;
    }

    .join__button{
        width: 100%;
    }

    .cdi__img{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 250px;
        z-index: -1;
    }

    .title__link__blue{
        height: 70px;
        width: 70px;
        background: var(--main-blue);
        bottom: -50px;
        left: 250px;
        top: initial;
    }
    .title__link__green{
        bottom: -60px;
        left: 100px;
    }
    .join__text{
        color: #000;
        font-size: 15px;
    }
}

@media all and (max-width: 780px) {
    .join{
        background: none;
    }
}