.navbar-nav-mobile{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-item a{
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.3s;
    padding-left: 0;
    padding-right: 0;
}
.nav-item.active a, .nav-item:hover a{
    border-bottom: 3px solid #000;
}

.nav-item{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}
