nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    position: fixed;
    width: 100%;
    padding: .2rem .5rem;
}

nav .brand__logo{
    height: 40px;
    width: auto;
    margin-right: 10px;
}
nav .brand__name{
    font-weight: bold;
    font-size: 15px;
}

/*z index conf*/
.toggle, .brand{
    z-index: 10;
}

.nav-item a{
    padding-left: 0!important;
    padding-right: 0!important;
}

.nav-item{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}



/* ==========================================================================
   mobile Navigation
   ========================================================================== */
.user__icon{
    position: absolute;
    right: 60px;
    top: 10px;
    display: none;
}

.user__icon img{
    height: 35px;
}
.toggle-btn {
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    right: 10px;
    top: 10px;
    color: var(--main-color);
    text-align: center;
    line-height: 40px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: transform ease-out 200ms;
    cursor: pointer;
    z-index: 2;
}

.hamburger {
    width: 30px;
    height: 4px;
    background: var(--main-green);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

.hamburger-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.displayMobile .menus .hamburger-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.displayMobile .menus .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.displayMobile .menus .hamburger-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

@media screen and (max-width: 767px) {
    .toggle-btn {
        display: block;
    }
    .user__icon{
        display: block;
    }
}
@media screen and (min-width: 767px) {
    #menu{
        background: #fff;
        box-shadow: 1px 1px 5px 1px rgba(154, 154, 154, 0.2);
    }
}
